<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karamat.sust">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sust">

        <!-- Splash Screen Activity -->
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sust"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FunTimeActivity -->
        <activity android:name=".FunTimeActivity" />
    </application>

</manifest>
